@import '../../scss/colors';

.so-header {
	width: 100%;
	height: 88px;
	border-bottom: 1px solid $color-cinza-200;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	background: #fff;
	
	&--logo {
		max-width: 120px;
		position: absolute;
		top: 50%;
		left: 25px;
		transform: translateY(-50%);
		
		img {
			max-width: 100%;
		}
	}
	
	&--profile {
		width: 32px;
		height: 32px;
		border-radius: 50%;
		overflow: hidden;
		border: 1px solid $color-cinza-200;
		position: absolute;
		top: 50%;
		right: 25px;
		transform: translateY(-50%);
		
		img {
			max-width: 100%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}