<header class="so-header clearfix">
	<div class="so-header--logo clearfix">
		<a href="#">
			<img src="assets/images/@sofisa/logo.png" alt="Sofisa">
		</a>
	</div>
	
	<div class="so-header--profile clearfix">	</div>
</header>