<aside class="so-aside clearfix">
	<nav class="so-nav clearfix">
		<ul class="so-nav--menu clearfix">
			<li class="so-nav--menu--item clearfix" routerLink="dashboard" routerLinkActive="is-active">
				<a routerLink="dashboard" class="so-nav--menu--item--anchor clearfix">
					<span class="so-nav--menu--item--anchor--icon">
						<i class="fas fa-home"></i>
					</span>
					
					<span class="so-nav--menu--item--anchor--name">Início</span>
				</a>
			</li>
			
			<li class="so-nav--menu--item clearfix" routerLink="tasklist" routerLinkActive="is-active">
				<a routerLink="tasklist" class="so-nav--menu--item--anchor clearfix">
					<span class="so-nav--menu--item--anchor--icon">
						<i class="far fa-file"></i>
					</span>
					
					<span class="so-nav--menu--item--anchor--name">Tasklist</span>
				</a>
			</li>
			
			<li class="so-nav--menu--item clearfix" routerLink="admin" routerLinkActive="is-active">
				<a routerLink="admin" class="so-nav--menu--item--anchor clearfix">
					<span class="so-nav--menu--item--anchor--icon">
						<i class="far fa-user"></i>
					</span>
					
					<span class="so-nav--menu--item--anchor--name">Admin</span>
				</a>
			</li>
		</ul>
	</nav>
	
	<div class="so-aside--logout clearfix" (click)="makeLogout()">
		<span class="so-aside--logout--icon">
			<i class="fas fa-sign-out-alt"></i>
		</span>
		
		<span class="so-aside--logout--name">Sair</span>
	</div>
</aside>